<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AppChallengeSuite">
  <test thread-count="5" name="AppChallengeTest">
    <classes>
      <class name="com.app.challenge.test.api.BreakingBadTest"/>
      <class name="com.app.challenge.test.mobile.CreateShoppingListTest"/>
    </classes>
  </test> <!-- AppChallengeTest -->
</suite> <!-- AppChallengeSuite -->
